In [2]:
import pandas as pd

In [3]:
gold = pd.read_csv("gold_labels_deduplicated_copy.csv")
gold = gold.rename(columns={
    'gold_label': 'label',
    'gold_target': 'target',
    'gold_rhetoric': 'rhetoric'
})
gold.isna().any()
gold.head(2)

,Index,joke,label,target,rhetoric
0,0,What do gender studies graduates commonly say?...,stereotype,education,sarcasm
1,1,Joel osteen tells harvey survivors not to have...,targeted,none,cultural reference

In [4]:
acl = pd.read_csv("ACL_toAnnotate_IAA.csv")
# drop if all three columns are NA (entirely unlabeled data)
acl = acl.dropna(subset=['stereotype_SSB', 'target_SSB', 'rhetoric_SSB'], how='all').loc[:, ~acl.columns.str.startswith("Unnamed")]
acl = acl.rename(columns={
    'stereotype_SSB': 'label',
    'target_SSB': 'target',
    'rhetoric_SSB': 'rhetoric'
})
acl.head(2)

,joke,label,target,rhetoric
599,There are only 2 kinds of Priest: There are th...,Offensive/Provocative,Religious beliefs,Vulgarity
600,I heard they were gonna make a movie about Mic...,Targeted,Ethnicity/national origin,Wordplay

In [5]:
merged = pd.concat([gold, acl],ignore_index=True).drop('Index',axis=1)
merged.head(3)

,joke,label,target,rhetoric
0,What do gender studies graduates commonly say?...,stereotype,education,sarcasm
1,Joel osteen tells harvey survivors not to have...,targeted,none,cultural reference
2,Yo mama so ugly for Halloween she trick or tre...,normal,none,hyperbole

In [ ]:
import random
random.seed(888)
# shuffle to create training/validation dataset
df_shuffled = merged.sample(frac=1).reset_index(drop=True)
df_shuffled.head(10)

#train validation split
split_idx = int(len(df_shuffled) * 0.8)
train_df = df_shuffled.iloc[:split_idx]
val_df = df_shuffled.iloc[split_idx:]

## don't do it again. I forgot to set the seed at the first place

# train_df.to_csv('train.csv', index=False)
# val_df.to_csv('validation.csv', index=False)

In [10]:
len(val_df)

605